@import "styles/vars";
@import "styles/global";

.input {
  width: 357px;
  height: 34px;
  margin-top: 2rem;
  background: linear-gradient(98.81deg, #f9e3e3 -0.82%, #f7c3c3 101.53%);
  border-radius: 6px;
  border: none;
  outline: none;
  @include project-font;
  font-weight: 700;
  font-size: 15px;
  color: $greyTextColor;
  box-shadow: none;
  padding-left: 9px;
  transition: 0.5s ease;
  &.disabled {
    pointer-events: none;
    background: linear-gradient(98.81deg, #f3ebeb -0.82%, #d9d9d9 101.53%);
  }
  &:focus, &:hover {
    background: linear-gradient(98.81deg, #ffbcbc -0.82%, #FFA1A1 101.53%);
  }
  @media screen and (max-width: 480px) {
    width: 300px;
  }
  @media screen and (min-width: 768px) {
    font-size: 20px;
    width: 500px;
  }
}
