@import "styles/vars.scss";

.filter__container {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 1rem;
  width: 40%;
  flex-wrap: wrap;
}

.filter__type {
  padding: 8px 15px;
  margin-right: 4px;
  border: 1px solid rgba(251, 107, 94, 0.79);
  border-radius: 25px;
  background-color: $lightRedColor;
  margin-bottom: 10px;
  font-weight: 600;
  color: $greyTextColor;
  transition: 0.5s ease;
  cursor: pointer;
  &.selected {
    background-color: #ff000095;
    border: 1px solid rgba(249, 191, 186, 0.79);
    color: $whiteColor;
    pointer-events: none;
  }
  &:not(.selected):hover {
    background-color: #fb646495;
    border: 1px solid rgba(249, 191, 186, 0.79);
    color: $whiteColor;
  }
}

