@import "@styles/vars.scss";

.card {
  width: 500px;
  height: 300px;
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12);
  background-color: $whiteColor;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 5px 5px rgb(91, 91, 94);
  }
}

.card__img {
  display: block;
  padding-top: 6px;
  margin: 0 auto;
}

.card__title {
  display: block;
  box-sizing: content-box;
  font-size: 25px;
  margin-left: 6px;
  padding-top: 5px;
  font-weight: 500;
  text-decoration: none;
}

.card__subtitle {
  font-size: 5px;
  margin-left: 6px;
  padding-top: 6px;
  font-weight: 400;
}

@media screen and (max-width: 480px) {
  .card {
    width: 174px;
    height: 100px;
    padding-bottom: 3rem;
  }
  .card__img {
    width: 90px;
  }
  .card__title {
    font-size: 15px;
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .card {
    width: 374px;
    height: 200px;
  }
  .card__img {
    width: 190px;
  }
}
