.App {
  text-align: center;
  background-color: #F5F5F5;
  height: 100vh;
  background-size: contain;
  background-image: url('~/public/static/images/background-corner.svg');
  background-repeat: no-repeat;
  background-position: top right;
  overflow: auto;
}


